.menu__link.ativo {
    color: black;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link {
    text-decoration: none;
    color: #808080;
    text-transform: lowercase;
}